
/***********************/
/* Alpha beta banner */

.beta-top, .alpha-top {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  top: 0;
  background-color: #f2f2f2;
  z-index: 100;
}

.beta, .alpha {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  z-index: 100;
}

.alpha-label {
  background-color: black;
  border: none;
  color: white;
  font-weight: 700;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
}

.beta-label {
  background-color: #0052A3;
  border: none;
  color: white;
  font-weight: 700;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
}

.beta-fill, .alpha-fill {
  background-color: #f2f2f2;
  padding: .6em 1em .6em .6em;
}





.provisional.profile {
	position: relative;
	overflow-x: hidden;
}

.provisional.profile .pagetag {
	max-width: 65ch;
}

.provisional.single-feature figcaption {
	margin-top: 5px;
	text-decoration: underline;
}

.provisional .thumbnail {
	border-color: #335075;
	border-width: 1px;
	padding: 0px;
}

.provisional.contributors {
	font-size: 16px;
	font-weight: 600;
}

.provisional.from {
	font-size: 17px;
	margin-top: 7px;
}

.provisional.contributors ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: -50px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

.provisional.most-requested-bullets li {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	margin-top: 0
}

.provisional.most-requested-bullets .pddng-r-0 {
	padding-right: 0px;
}

.provisional.most-requested-bullets h2 {
	font-size: 1.2em;
}

.provisional.list-bld {
	font-weight: 600;
}

.gc-srvinfo h3 {
font-size: 20px !important;
}

.gc-srvinfo p {
font-size: 16px;
}

@media screen and (min-width: 991px) {
	.provisional.contributors li {
		display: inline-block;
		margin-right: .7em;
	}
	.provisional.contributors li:first-child:before {
		content: none;
	}
	.provisional.contributors li:before {
		content: "\2022";
		margin-right: .7em;
	}
}

@media screen and (max-width: 1200px) {
	.provisional.contributors ul {
		margin-inline-start: -30px;
	}
}

@media screen and (max-width: 991px) {
	.provisional.most-requested-bullets li {
		font-size: 19px;
	}
	.provisional.contributors ul {
		margin-inline-start: 1.5em;
	}
}


/** do I need to start public registry styles? probably. On Body tag. **/

.pubreg h1
{
  border-bottom: 1px solid #af3c43 !important;
/*  margin-top: .75em !important;*/
}



.pubreg #wb-sm {
  background: #f5f5f5;
  font-size: 13px;
    min-height: auto;
}

.pubreg  .badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 80%;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  margin-top: none;
}

.pubreg  article .badge {
  border-width: 0px;
  float: none;

}

.pubreg   .badge:empty {
    display: none; }


.pubreg  .badge-initiation {
  color: #fff;
  background-color: #002D42; }
  .badge-initiation[href]:hover, .badge-initiation[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #000a0f; }

.pubreg .badge-scoping {
  color: #fff;
  background-color: #4D5D6C; }
  .badge-scoping[href]:hover, .badge-scoping[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #38434e; }

.pubreg .badge-not-under-eval {
  color: #000;
  background-color: #CECECE; }
  .badge-not-under-eval[href]:hover, .badge-not-under-eval[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #CECECE; }


.pubreg .badge-science-review {
  color: #fff;
  background-color: #269abc; }
  .badge-science-review[href]:hover, .badge-science-review[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1d7792; }

.pubreg .badge-public-consultation {
  color: #212529;
  background-color: #ff9900; }
  .badge-public-consultation[href]:hover, .badge-public-consultation[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #cc7a00; }


.pubreg .btn-login {
        background-color: #26374a !important;
        border: 1px solid #26374a !important;
        font-weight: 600 !important;
        font-family: "Lato";
        font-size: 17px !important;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 8px;
        margin-right: 15px;
        border-radius: 0;
