/* largely adopted from CRA application styles */

.app-bar {
    background: #26374A;
  font-family: "Lato", "Noto sans", sans-serif;
}

.app-name {
font-size: 18px;
}

.nvbar {
  font-family: "Lato", "Noto sans", sans-serif;
}

/*for use when we want to use a list for navigation but dont want the blue/framing of a 'tab'. Add this as an additional class */
.nottab {
  margin: 10px auto 20px;
}

.nottab [role=tablist]>li {
  background-color: #fff;
  border: 1px solid #ddd !important;
}

.nottab [role=tablist]>li a {
  padding: 5px 10px;
}

.nottab [role=tablist]>li.active {
  background-color: auto;
}

.nottab [role=tablist]>li.active a {
  border-width: 0 0 4px;
}
